.footer {
    background: var(--light-blue);
    padding-top: 70px;
    padding-bottom: 45px;
    color: var(--blue);

    @include xl-down {
        font-size: 0.875rem;
    }

    @include sm-down {
        padding: 22px 24px 36px;
    }

    a {
        color: var(--blue);
        text-decoration: none;
        transition: all .2s;

        &:hover {
            color: #548fff;
            transition: all .2s;
        }
    }
}

.footer-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 118px;

    @include xl-down {
        gap: 60px;
    }

    @include lg-down {
        flex-direction: column;
    }

    @include sm-down {
        gap: 20px;
    }
}

.footer-contacts {
    min-width: 314px;

    @include xl-down {
        min-width: auto;
    }

    &__logo {
        font-family: $second-family;
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 139%;
        letter-spacing: -0.01em;
        margin-bottom: 108px;

        @include lg-down {
            margin-bottom: 18px;
        }

        @include sm-down {
            font-size: 1.375rem;
        }
    }

    &__contacts {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 3px;
        margin-bottom: 15px;

        @include sm-down {
            margin-bottom: 20px;
        }
    }

    &__messangers {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 7px;

        @include sm-down {
            display: none;
        }

        a {
            display: block;
            height: 34px;
            width: 34px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 30px;
                height: auto;
                transition: all .2s;

                &:hover {
                    width: 34px;
                    transition: all .2s;
                }
            }
        }
    }
}

.footer-navigate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 87px;
        margin-bottom: 140px;

        @include xl-down {
            gap: 40px;
        }

        @include sm-down {
            flex-direction: column;
            margin-bottom: 18px;
        }

        nav {
            ul {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                gap: 5px;

                li {
                    line-height: 140%;

                    &:first-child {
                        color: var(--cornflower);
                    }
                }
            }
        }
    }

    &__copyright {
        max-width: 671px;
        font-size: 0.75rem;
        line-height: 200%;
        color: var(--blue);
        opacity: .5;

        @include sm-down {
            font-size: 0.625rem;
        }
    }
}