:root {
  --blue: #0048CE;
  --dark-blue: #7D8CB4;
  --light-blue: #F1F4FD;
  --mid-blue: #d9e4f8;
  --cornflower: #799EE5;
  --white: #FFFFFF;
  --dark: #111111;
}

$font-family: "Golos Text", sans-serif;
$second-family: "Merriweather", sans-serif;
$font-size: 1rem;

$brekepoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);